/* --- BANNER SLIDE-SHOW --- */
.slider-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px); /* Điều chỉnh độ cao banner */
    min-height: 500px;
    overflow: hidden;
    background-color: #000;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 80px;
    color: white;
    text-align: center;
}

.slide.active {
    opacity: 1;
    z-index: 10;
}

.slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.slide-content {
    z-index: 20;
    max-width: 800px;
    padding: 0 20px;
}


.slide-content h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.slide-content p {
    font-size: 16px;
    margin-bottom: 25px;
}

.btn-white {
    background: white;
    color: black;
    padding: 10px 28px;
    border-radius: 100px;
    font-weight: 600;
    display: inline-block;
}

.btn-white:hover {
    background: #e5e5e5;
}

